# Ignore virtual environment folders
venv/
env/
.venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy and other tools
.mypy_cache/
